.just-show-out {
  background-color: black;
  color: white;
}

@media screen and (orientation: portrait) {
  .just-show-out {
    display: none;
  }
}

header {
  color: white;
}

.example-text {
  color: black;
}
