* {
  padding: 0;
  margin: 0;
}

/* Responsividade no celular */
@media all and (max-width: 768px) {
  .verde {
    background-color: green;
    height: 100vh;
    width: 100vw;
  }
  .azul {
    display: none;
  }
  .roxa-p {
    display: none;
  }
  .verde-clara-p {
    display: none;
  }
  .azul-clara-p {
    display: none;
  }
}

/* Responsividade em laptops */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .verde {
    background-color: green;
    display: block;
    position: fixed;
    height: 50vh;
    width: 100vw;
    top: 0;
  }
  .azul {
    background-color: blue;
    display: block;
    position: fixed;
    height: 50vh;
    width: 100vw;
    top: 50%;
  }
  .roxa {
    display: none;
  }
  .verde-clara {
    display: none;
  }
  .azul-clara {
    display: none;
  }
}

/* Responsividade na TV */

@media screen and (min-width: 1279px) and (max-width: 2560px) {
  .verde {
    background-color: green;
    display: block;
    position: fixed;
    height: 20vh;
    width: 100vw;
    top: 0;
  }
  .azul {
    background-color: blue;
    display: block;
    position: fixed;
    height: 20vh;
    width: 100vw;
    top: 20%;
  }
  .roxa {
    background-color: purple;
    display: block;
    position: fixed;
    height: 20vh;
    width: 100vw;
    top: 40%;
  }
  .verde-clara {
    background-color: lightgreen;
    display: block;
    position: fixed;
    height: 20vh;
    width: 100vw;
    top: 60%;
  }
  .azul-clara {
    background-color: lightblue;
    display: block;
    position: fixed;
    height: 20vh;
    width: 100vw;
    top: 80%;
  }
}

.verde {
  background-color: green;
  color: white;
  font-size: large;
}

.azul {
  background-color: blue;
  color: white;
  font-size: large;
}

.roxa {
  background-color: purple;
  color: white;
  font-size: large;
}

.verde-clara {
  background-color: lightgreen;
  color: white;
  font-size: large;
}

.azul-clara {
  background-color: lightblue;
  color: white;
  font-size: large;
}

header {
  color: white;
}

.example-text {
  color: white;
}
